h1 {
	font-size: 26px;
	font-weight: normal;
}
button {
	background-color: #3B4;
	color: #FFF;
	border: none;
	outline: none;
	cursor: pointer;
}
button, select, input {
	font-size: 18px;
	padding: 0.5rem 1rem;
}
body {
	align-content: center;
	align-items: center;
	align-self: center;
	text-align: center;
	font-family: Helvetica, Verdana, Georgia, sans-serif;
}
canvas {
	width: 100vmin;
}